<div class = "field-container d-flex container justify-content-center mt-5 pt-5">
  <%= simple_form_for @my_plant, url: my_plants_path do |f| %>
    <div class ="field input">
      <%= f.input :name,
                  label: 'Nom de la plante',
                  required: true %>
    </div>
    <div class ="field input">
      <%= f.input :description,
                  required: true %>
    </div>
    <div class ="field input">
      <%= f.input :day_price,
                  label: 'Prix par jour',
                  required: true %>
    </div>
    <!-- rajouter un message d'erreur si possible -->
    <%= f.input :photos,
                label: 'Photo 1',
                as: :file,
                required: true,
                input_html: { multiple: true } %>
    <%= f.input :photos,
                label: 'Photo 2',
                as: :file,
                required: true,
                input_html: { multiple: true } %>
    <%= f.input :photos,
                label: 'Photo 3',
                as: :file,
                required: true,
                input_html: { multiple: true } %>
    <%= f.submit "Ajouter la plante", class: "btn btn-primary" %>
  <% end %>
</div>
