<%#

<button class="tablink" onclick="openPage('Home', this, 'red')" id="defaultOpen">Bookings</button>
<button class="tablink" onclick="openPage('News', this, 'green')">My Plants</button> %>

<div data-controller="bookings">
  <div class="tab__container">
    <button class="bookings tab">bookings</button>
    <button class="plants tab">My Plants</button>
  </div>

  <div id="bookings" class="tab_content active">

      <button class="booking-button mt-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePending" aria-expanded="false" aria-controls="collapseExample">
        Pending Bookings
      </button>
      <div class="collapse" id="collapsePending">
        <ul class="booking-list">
          <% current_user.bookings.each do |booking|%>

            <li>
              <div class=" d-flex justify-content-between card-product">

                <div class="card-image d-flex flex-row ">
                  <div>
                    <% if Plant.find(booking.plant_id).photos.attached? %>
                      <%= cl_image_tag Plant.find(booking.plant_id).photos.first.key, height: 150, width: 200, crop: :fill, class: "border-photo" %>
                    <% end %>
                  </div>
                  <div class="plant-name-card">
                    <h2 ><%= Plant.find(booking.plant_id).name %></h2>
                  </div>
                </div>


                <!-- if @status == true (du bookings controller) afficher pastille vert-->
                <div class="d-flex action-user">
                  <div class="status-icon">
                    <% if booking.status == true %>
                      <p>ðŸŸ¢</p>
                    <% else %>
                      <p>ðŸ”´</p>
                    <%end%>
                  </div>
                  <div class="delete-icon">
                    <%= link_to "", decline_path(booking), method: :patch, remote: true,  class: "fas fa-trash"%>
                  </div>
                </div>
              </div>

            </li>
          <% end %>
        </ul>

      </div>



      <button class="booking-button mt-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOngoing" aria-expanded="false" aria-controls="collapseExample">
        Ongoing
      </button>

      <div class="collapse" id="collapseOngoing">
        <ul class="booking-list">
          <% Booking.all.each do |booking|%>
            <% current_user.plants.each do |plant| %>
              <% if plant.id == booking.plant_id %>
                <li>
                  <div class=" d-flex justify-content-between card-product">

                    <div class="card-image d-flex flex-row ">
                      <div>
                        <% if Plant.find(booking.plant_id).photos.attached? %>
                          <%= cl_image_tag Plant.find(booking.plant_id).photos.first.key, height: 150, width: 200, crop: :fill, class: "border-photo" %>
                        <% end %>
                      </div>
                      <div class = "mt-4 ml-2">
                        <h2 ><%= Plant.find(booking.plant_id).name %></h2>
                      </div>
                    </div>

                    <!-- if @status == true (du bookings controller) afficher pastille vert-->
                    <div>
                      <% if current_user == User.find(Plant.find(booking.plant_id).user_id) %>
                        <% if booking.status == true %>

                          <%= link_to "ðŸŸ¢", accept_path(booking), method: :patch, class: "reserved"%>
                        <% else %>

                          <%= link_to "ðŸ”´", accept_path(booking), method: :patch, class: "notreserved"%>
                        <%end%>
                      <%end%>
                      <%= link_to "ðŸ—‘ï¸", decline_path(booking), method: :patch, class: "delete"%>
                    </div>
                  </div>
                </li>
              <%end%>
            <%end%>
          <% end %>
        </ul>
      </div>
      <button class="booking-button mt-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHistory" aria-expanded="false" aria-controls="collapseExample">
        History
      </button>
      <div class="collapse" id="collapseHistory">

      </div>
  </div>

  <div id="my_plants" class="tab_content plant-container">
    <% current_user.plants.each do |plant|%>
      <li>
              <div class=" d-flex justify-content-between card-product">

                <div class="card-image d-flex flex-row ">
                  <div>
                    <% if plant.photos.attached? %>
                      <%= cl_image_tag plant.photos.first.key, height: 150, width: 200, crop: :fill, class: "border-photo" %>
                    <% end %>
                  </div>
                  <div class = "mt-4 ml-2">
                    <h2 ><%= plant.name %></h2>
                  </div>
                </div>
              </div>
            </li>
    <%end%>
  </div>
</div>
