<div class="top-margin container">
  <%= link_to "Back to plants", plants_path %>
</div>

<div class="main-container d-flex">
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide bg-secondary" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="<%= cl_image_path @plant.photos[0].key, height: 500, crop: :fill %>" class="d-block me-auto ms-auto" alt="Plant photo 1">
        </div>
        <div class="carousel-item">
          <!--si PBM PHOTOS NILclass décommenter le ByPass-->
          <%# if @plant.photos[1] != nil %>
          <img src="<%= cl_image_path @plant.photos[1].key, height: 500, crop: :fill %>" class="d-block me-auto ms-auto" alt="Plant photo 2">
          <%# end %>
        </div>
        <div class="carousel-item">
        <!--si PBM PHOTOS NILclass décommenter le ByPass-->
          <%# if @plant.photos[2] != nil %>
            <img src="<%= cl_image_path @plant.photos[2].key, height: 500, crop: :fill %>" class="d-block me-auto ms-auto" alt="Plant photo 3">
          <%# end %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="container text-start">
      <h1><%= @plant.name %></h1>
      <p><%= simple_format(@plant.description) %></p>
    </div>
  </div>

    <%= simple_form_for [ @plant, @booking ] do |f| %>
      <div class="container d-flex flex-column align-items-center justify-content-between p-5" id="booking" data-controller="dates" data-dates-price-value="<%= @plant.day_price%>">
        <h2>Recap</h2>
        <%= f.input :dates, as: :string, required: false, input_html: {id: "range_start", data: {dates_target: "input", action: "change->dates#price"}} %>
        <div class="d-flex booking-plant">
          <div class="container booking-price border border-primary pt-2 bg-light m-3">
            <h5 class="text-center" id="total-price"><strong data-dates-target="total"><%= number_with_precision(@plant.day_price, precision: 2) %></strong><strong> €</strong></h5>
          </div>
          <%= f.submit "Book plant", class: "btn btn-primary m-3" %>
        </div>
      </div>
    <% end %>