<%# <div class="container-fluid" id="navbar"> %>
  <h2><%= link_to "Treent", root_path, class: "nav-link" %></h2>
  <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> %>
  <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
    <%# <ul class="navbar-nav me-auto"> %>
      <% if user_signed_in? %>
        <div><%= link_to "New Plant", new_my_plant_path, class: "navbar-button" %></div>

        <%# <li class="nav-item dropdown"> %>
          <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        <%# </li> %>
      <% else %>
        <!--li class="nav-item"-->
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        <!--/li-->
      <% end %>
  </div>
</div>
